@* @using System.Web.HttpContext; *@
@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RestaurantPOS</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RestaurantPOS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nalika-icon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/vendor/modernizr-2.8.3.min.js" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" asp-append-version="true"/>
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" asp-append-version="true"/> *@


    <link rel="stylesheet" href="~/css/owl.carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/owl.theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/owl.transitions.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/meanmenu.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/morrisjs/morris.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/morrisjs/morris.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/scrollbar/jquery.mCustomScrollbar.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/metisMenu/metisMenu.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/metisMenu/metisMenu-vertical.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <script src="~/js/vendor/modernizr-2.8.3.min.js" asp-append-version="true"></script>
</head>
<body>
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <div style="padding-top: 1rem; font-weight: bold;"><img class="main-logo" src="~/img/RESTAURANTPOS_1.png" style="width: 12rem;" alt="" /></div>
                <strong><img src="~/img/logo_rm.png"  style="width: 3rem;" alt="" /></strong>
            </div>
			<div class="nalika-profile">
				<div class="profile-dtl">
					<a href="#"><img src="~/img/profile.png" alt="" /></a>
					<h2>@Context.Session.GetString("_Name")</h2>
				</div>
				@* <div class="profile-social-dtl">
					<ul class="dtl-social">
						<li><a href="#"><i class="icon nalika-facebook"></i></a></li>
						<li><a href="#"><i class="icon nalika-twitter"></i></a></li>
						<li><a href="#"><i class="icon nalika-linkedin"></i></a></li>
					</ul>
				</div> *@
			</div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a href='@Url.Action("Index", "Dashboard")'>
								   <i class="icon nalika-home icon-wrap"></i>
								   <span class="mini-click-non">Dashboard</span>
								</a>
                            @* <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="Dashboard" href='@Url.Action("Index", "Dashboard")'><span class="mini-sub-pro">Dashboard</span></a></li>
                            </ul> *@
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-cutlery" style="padding-right: 1rem; color: #ffffff"></i> <span class="mini-click-non">Food</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Food List" href='@Url.Action("Index", "Food")'><span class="mini-sub-pro">Food List</span></a></li>
                                <li><a title="Add Food" href='@Url.Action("AddFood", "Food")'><span class="mini-sub-pro">Add Food</span></a></li>
                                @* <li><a title="Edit Food" href='@Url.Action("EditFood", "Food")'><span class="mini-sub-pro">Edit Food</span></a></li> *@
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-tags" style="padding-right: 0.6rem; color: #ffffff"></i> <span class="mini-click-non">Category</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Category List" href='@Url.Action("Index", "Category")'><span class="mini-sub-pro">Category List</span></a></li>
                                <li><a title="Add Category" href='@Url.Action("Add", "Category")'><span class="mini-sub-pro">Add Category</span></a></li>
                                @* <li><a title="Edit Food" href='@Url.Action("EditFood", "Food")'><span class="mini-sub-pro">Edit Food</span></a></li> *@
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><i class="icon nalika-user nalika-user-rounded header-riht-inf" style="padding-right: 0.8rem; color: #ffffff"></i> <span class="mini-click-non">Users</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="User List" href='@Url.Action("Index", "User")'><span class="mini-sub-pro">User List</span></a></li>
                                <li><a title="Add User" href='@Url.Action("AddUser", "User")'><span class="mini-sub-pro">Add User</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><i class='fa fa-file-text-o fa-lg' style="padding-right: 0.7rem; color: #ffffff"></i> <span class="mini-click-non">Orders</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Order List" href='@Url.Action("Index", "Order")'><span class="mini-sub-pro">Order List</span></a></li>
                                
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><i class='fa fa-comments-o fa-lg' style="padding-right: 0.7rem; color: #ffffff;"></i> <span class="mini-click-non">Comments</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Comment List" href='@Url.Action("Index", "Comment")'><span class="mini-sub-pro">Comment List</span></a></li>
                                
                            </ul>
                        </li>
                        @* <li id="removable">
                            <a class="has-arrow" href="#" aria-expanded="false"><i class="icon nalika-new-file icon-wrap"></i> <span class="mini-click-non">Pages</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Login" href="login.html"><span class="mini-sub-pro">Login</span></a></li>
                                <li><a title="Register" href="register.html"><span class="mini-sub-pro">Register</span></a></li>
                                <li><a title="Lock" href="lock.html"><span class="mini-sub-pro">Lock</span></a></li>
                                <li><a title="Password Recovery" href="password-recovery.html"><span class="mini-sub-pro">Password Recovery</span></a></li>
                            </ul>
                        </li> *@
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
													<i class="icon nalika-menu-task"></i>
												</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                            <div class="breadcome-heading">
												<form role="search" class="">
													<input type="text" placeholder="Search..." class="form-control">
													<a href=""><i class="fa fa-search"></i></a>
												</form>
											</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item">
                                                    @if (Context.Session.GetString("_Name") != null)
                                                    {
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
															<i class="fa fa-user adminpro-user-rounded header-riht-inf" aria-hidden="true"></i>
															<span class="admin-name">@Context.Session.GetString("_Name")</span>
															<i class="icon nalika-down-arrow nalika-angle-dw nalika-icon"></i>
														</a>
                                                    <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                        <li><a href="#"><span class="icon nalika-user author-log-ic"></span> My Profile</a>
                                                        </li>
                                                        <li><a asp-controller="Authorize" asp-action="Logout"><span class="icon nalika-unlocked author-log-ic"></span> Log Out</a>
                                                        </li>
                                                    </ul>
                                                    }
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @* </div> *@
    
    <div class="container-body">
        @* <main role="main" class="pb-3"> *@
            @RenderBody()
        @* </main> *@
    </div>
    @* </div> *@

    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        &copy; 2023 - RestaurantPOS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" ></script>
    <script src="~/js/vendor/jquery-1.12.4.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/wow.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-price-slider.js" asp-append-version="true"></script>
    <script src="~/js/jquery.meanmenu.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.sticky.js" asp-append-version="true"></script>
    <script src="~/js/jquery.scrollUp.min.js" asp-append-version="true"></script>
    <script src="~/js/scrollbar/jquery.mCustomScrollbar.concat.min.js" asp-append-version="true"></script>
    <script src="~/js/scrollbar/mCustomScrollbar-active.js" asp-append-version="true"></script>
    <script src="~/js/metisMenu/metisMenu.min.js" asp-append-version="true"></script>
    <script src="~/js/metisMenu/metisMenu-active.js" asp-append-version="true"></script>
    <script src="~/js/plugins.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" asp-append-version="true"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function(){
            $('#myTable').DataTable();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
